:root{
     /* background color  */
     
     
     --primary-color: #ffffff;
     --secondary-color: #fffffff8;
     --btn-bg-color: #58655A;

     --text-color: #575757;
     --text-color-wht: #FFFFFF;
     --heading-color: #262626;
     --heading-color-2: #58655A;
    

     
     /* gradient color  */
     
     --gradient-1: linear-gradient(120deg, #9fada1, #fffffff8);
     --gradient-2: #7a93b81A;
     --gradient-3: linear-gradient(360deg, #7a93b826, #7a93b81A);
     
    
     /*others color*/
     --scrollbar-color:  #fffffff8;
     --scrollbar-thump:  #58655A;
     --scrollbar-hover: #6f89b6;
    
     /* transition  */
     --transition-1: 0.25s ease;
     --transition-2: 0.3s ease;
     --transition-3: 0.5s ease;
     
 
      /* fontsize  */
      --font-h1:5.5rem;
      --font-h2:4rem;
      --font-h3:3rem;
      --font-h4:2rem;
      --font-h5:1.5rem;
      
     --font-14:0.875rem;
     --font-16:1rem;
     --font-18:1.125rem;
     --font-24:1.5rem;


     
      /* z-index  */
      --z-minus:-1;
      --z-zero:0;
      --z-low:1;
      --z-high:10;
      --z-100:100;
      --z-tooltop:1000;
      --z-fix:1100;
      --z-overlay:1110;
      --z-modal:1990;
      --z-max:9999;

}

/* ==================media query section ======================  */
/* ----------------1536px;------------- */
    @media(max-width:1536px){
            
       
        .container{
            max-width: 100%;
            padding: 0.5% 1% ;
            margin: 0 10% ;
            
        }
        section, footer{
            margin: 2% 11%;
            max-width: 100%;
        }
        
    }
/* ----------------1280px;------------- */
    @media(max-width:1280px){
        .menu{
            display: block;

        }
        .head nav{
            display: none;
            transition: var(--transition-2);
        }
        .head .btn{
            display: none;
            transition: var(--transition-2);
        }
         .container{
            max-width: 100%;
            padding: 0.5% 1% ;
            margin: 0 7% ;
            
        }
        section, footer{
            margin: 2% 8%;
            max-width: 100%;
        }
        #hero .hero-container,
        #faq .hero-container{
            grid-template-columns: 1fr;
            transition: var(--transition-1);
        }
        .faq-container{
            width: 95%;
        }
        .hero-img-card .cardImg{
            height: 700px;
        }
        .hero-img-card .tag-icon{
        
    
            right: 50px;
           
       
        }
        .about-container{
            flex-direction: column;
            margin: 2%;

        }
        .about-count-cards .about-card{
            width: 95%;
        }
        .feature-container{
            flex-direction: column;

        }
        .feature-container .feature-card-content{
            width: 95%;
        }
        .feature-card-content p{
            width: 90%;

        }
        .customise-container{
            grid-template-columns: repeat(2, 1fr);

        }
        .main-gallery{
            grid-template-columns: repeat(3, 1fr);
            transition: var(--transition-2);
        }
        #privacy .privacy-X,
        #saloon .saloon-X{
             right: 80px;
        }
        #index-contact{
            height: 1500px;
        }
        .index-container .index-left{
            width: 100%;

        }
        .choose-container .choose-card{
            width: 98%;
            left: 0;
            max-width: 100%;
            
        }
        
        
        .choose-container{
            
            padding: 2% 0;
            margin-top: 72%;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            
        }
        iframe{
            width: 100%;
        }
        .test-content .test-btn{
           float: right;
           margin-top: -85px;
           margin-left: 150px;
           
          
        }
        .contact-us-container{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
/* ----------------1024px;------------- */
    @media(max-width:1030px){

        :root{
             /* fontsize  */
            --font-h1:4rem;
            --font-h2:3rem;
            --font-h3:2.5rem;
            --font-h4:1.8rem;
            --font-h5:1.3rem;
            
            --font-14:0.85rem;
            --font-16:0.95rem;
            --font-18:1rem;
            --font-24:1.4rem;
        }



         .hero-img-card .tag-icon{
            right: 40px;          
       
        }
        header .head{
            padding: 25px 0px;
        }
        .vedio-info{
            width: 80%;
            transition: var(--transition-2);

        }
        .package-btn-group{
            grid-template-columns: repeat(2, 1fr);

        }.tab-container{
            flex-direction: column;
        }
        .tab-container .tab-img,
        .tab-container .tab-card{
            height: 50vh;
             align-items: center;
             transition: var(--transition-1);
        }
        .tab-card h3{
            text-align: center;
            transition: var(--transition-1);
        }
        #customise a{
            width: 30%;
        }
        .testimonial-container{
           grid-template-columns: 1fr;
        }
        .testimonial-container .testimonial-content{
            flex-direction: row;
        }
        .main-gallery{
            grid-template-columns: repeat(2, 1fr);
        }
        .choose-container{
          
            margin-top: 100%;
           
            
        }
        .form-container{
            flex-direction: column;
        }
        .form-image,
        .form-content {
            width: 100%;
            transition: var(--transition-1);
        }
        

    }
    @media(max-width:834px){
        .choose-container{
          
            margin-top: 120%;
           
            
        }
        #petCard img{
            width: 100%;
        }

    }
/* ----------------768px;------------- */
    @media(max-width:768px){

         :root{
             /* fontsize  */
            --font-h1:3.5rem;
            --font-h2:2.5rem;
            --font-h3:2rem;
            --font-h4:1.5rem;
            --font-h5:1.2rem;
            
            --font-14:0.8rem;
            --font-16:0.9rem;
            --font-18:0.95rem;
            --font-24:1.3rem;
        }
         .hero-img-card .tag-icon{
            right: 30px;          
       
        }
        .about-count .about-count-cards{
            grid-template-columns: 1fr;
            width: 80%;
        }
        .about-count-cards .about-card{
            justify-content: center;
            align-items: center;
        }
        .package-btn-group{
            grid-template-columns: 1fr;

        }.package-btn-group {
            width: 80%;
        }
        .customise-container{
            grid-template-columns: 1fr;

        }
        .testimonial-container .testimonial-content{
            flex-direction: column-reverse;
        }
        .footer-container .footer-last{
            flex-direction: column;

        } #privacy .privacy-X,
          #saloon .saloon-X{
             right: 40px;
        }
        .faq-container{
            margin: 0 auto;
        }
        .hero-info h2{
            text-align: center;
        }
        .hero-info .badge-left{
            margin: 0 auto;
        }
        .choose-container{
          
            margin-top: 120%;
           
            
        }
         .hero-info h1{
        line-height: 55px;
        text-align: center;
       }
       .hero-info p{
        text-align: center;
        width: 100%;
       }
       .hero-container .hero-info{
        justify-content: center;
        align-items: center;
       }
       #petCard{
        flex-direction: column;
       }
        .contact-us-container{
            grid-template-columns: 1fr;
        }

    }
/* ----------------600px;------------- */
    @media(max-width:600px){

         :root{
             /* fontsize  */
            --font-h1:2.8rem;
            --font-h2:2.2rem;
            --font-h3:1.8rem;
            --font-h4:1.3rem;
            --font-h5:1.1rem;
            
            --font-14:0.75rem;
            --font-16:0.875rem;
            --font-18:0.9rem;
            --font-24:1.2rem;
        }
        #responsive-bar{
           padding: 0;
           width: 100%;
           transition: var(--transition-3);
        }
        .about-count .about-count-cards{
            grid-template-columns: 1fr;
            width: 100%;
        }
        .feature-container .feature-card-content{
            justify-content: center;
            align-items: center;
        }
        .about-container .about-info{
            justify-content: center;
            align-items: center;
        }
        .about-info h2,
        .about-info p{
            text-align: center;
        }.badge-left{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
           
            
        }
         #customise a{
            width: 50%;
        }
         .main-gallery{
            grid-template-columns: 1fr;
        }
         .footer-container .footer-first{
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .foot-logo a{
            text-align: center;
            justify-content: center;
        }
        .choose-container{
          
            margin-top: 150%;
           
            
        }
        .test-content{
            gap: 5px;
            margin-top: 3px;
            
        }
        .test-content .test-btn{
            margin-top: 0;
            margin-left: 0;
        }
      
       

    }